<%= form_with(model: [@reported_incident, comment], local: true) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation" style="color: red">
      <h3><%= pluralize(comment.errors.count, "error") %> prohibited this post from being saved:</h3>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>

  <div class="actions m-1">
    <%= form.submit %>
  </div>
<% end %>
<br />
