<%= form_with(model: reported_incident) do |form| %>
  <% if reported_incident.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(reported_incident.errors.count, "error") %> prohibited this reported_incident from being saved:</h2>

      <ul>
        <% reported_incident.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :reported, style: "display: block" %>
    <%= form.datetime_field :reported %>
  </div>

  <div>
    <%= form.label :sender, style: "display: block" %>
    <%= form.text_field :sender %>
  </div>

  <div>
    <%= form.label :subject, style: "display: block" %>
    <%= form.text_field :subject %>
  </div>

  <div>
    <%= form.label :reported_by, style: "display: block" %>
    <%= form.text_field :reported_by %>
  </div>

  <div>
    <%= form.label :resolution, style: "display: block" %>
    <%= form.text_field :resolution %>
  </div>

  <div>
    <%= form.label :themis_confidence, style: "display: block" %>
    <%= form.number_field :themis_confidence %>
  </div>

  <div>
    <%= form.label :resolved_by, style: "display: block" %>
    <%= form.text_field :resolved_by %>
  </div>

  <div>
    <%= form.label :incident_id, style: "display: block" %>
    <%= form.number_field :incident_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
