<%= form_with url: import_reported_incidents_path, method: :post do |f| %>
    <div class="container">
        <%= f.file_field :file, accept: ".csv" %>
        
        <%= f.radio_button :instance, "us" %>
        <%= f.label :instance, "US" %>
        <%= f.radio_button :instance, "eu" %>
        <%= f.label :instance, "EU" %>
        <br />
        
        <div class="btn-group">
           <%= f.submit "Upload Reported Incidents", class: "btn btn-primary" %>
           <%= link_to "Clear Reported Incidents", clear_reported_incidents_path, class: "btn btn-danger",
              data: { turbo_method: :delete, 
              turbo_confirm: "Are you sure?"} %>
        </div>
    </div>
<% end %>