<table class="table table-striped">
  <tr>
    <th>Incident ID</th>
    <th>Resolution</th>
    <th>Resolved By</th>
    <th>Creation Date</th>
    <th></th>
    <th></th>
  </tr>
  <% @reported_incidents.each do |incident| %>
  <tr>
      <td><%= "IS-#{incident.incident_id}" %></td>
      <td><%= incident.resolution %></td>
      <td><%= incident.resolved_by %></td>
      <td><%= incident.reported %></td>
      <td><%= link_to "Show reported incident", incident, class: "btn btn-outline-dark" %></td>
      <td><%= link_to "View in IRONSCALES dashboard", "#{@incident_url}#{incident.incident_id}", class: "btn btn-outline-primary" %></td>
  </tr>
  <% end %>
</table>