<div id="<%= dom_id reported_incident %>">
  <p>
    <strong>Reported:</strong>
    <%= reported_incident.reported %>
  </p>

  <p>
    <strong>Sender:</strong>
    <%= reported_incident.sender %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= reported_incident.subject %>
  </p>

  <p>
    <strong>Reported by:</strong>
    <%= reported_incident.reported_by %>
  </p>

  <p>
    <strong>Resolution:</strong>
    <%= reported_incident.resolution %>
  </p>

  <p>
    <strong>Themis confidence:</strong>
    <%= reported_incident.themis_confidence %>
  </p>

  <p>
    <strong>Resolved by:</strong>
    <%= reported_incident.resolved_by %>
  </p>

  <p>
    <strong>Incident:</strong>
    <%= reported_incident.incident_id %>
  </p>

</div>
