<h1>List of All Reported Incidents</h1>

<%= link_to "Clear Reported Incidents", clear_reported_incidents_path, class: "btn btn-danger",
              data: { turbo_method: :delete, 
              turbo_confirm: "Are you sure?"} %>


<%= link_to "Export CSV", reported_incidents_path(format: "csv"), class: 'btn btn-primary' %>

<%= bar_chart ReportedIncident.group(:resolution).count %>

<%= render partial: "incident_format" %>

<div class="pag-bar mt-5 pt-5">
  <%== pagy_bootstrap_nav(@pagy) %>
</div>