<p style="color: green"><%= notice %></p>

<%= render @reported_incident %>


<h2>Comments</h2>
<% for comment in @reported_incident.comments %>
  <ul>
    <li><%= comment.content %></li>
  </ul>
<% end %>

<div>
  <%= link_to "Back to reported incidents", root_path %>
  <%= link_to "Edit Incident", edit_reported_incident_path(@reported_incident) %> |
  <%= link_to 'Add Comment', reported_incident_comments_path(@reported_incident) %> |
  <%= link_to "View in IRONSCALES dashboard", "#{$incident_url}#{@reported_incident.incident_id}" %>
</div>
